<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= statusCode %> Error</title>
    <link rel="stylesheet" href="style.css" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  </head>
  <body class="error">
    <h1><%= statusCode %></h1>
    <h2><%= errorMessage %></h2>
    <% if (statusCode === "404") { %>
     <a class="primary-btn" href="/">Back To Home</a>
    <% } else { %>
      <p>Please try again later!</p>
    <% } %>
  </body>
</html>
